.admin-joblist {
  width: 100%;
  transition: 150ms ease-in-out;
}

.admin-joblist[data-hasjob='true'] {
  width: 50%;
}

.admin-jobedit {
  width: 0;
  opacity: 0;
  transition: 300ms ease-in-out;
}

.admin-jobedit[data-hasjob='true'] {
  width: 50%;
  opacity: 1;
}

/*--------------Admin publish toggle---------------*/
.approval-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.approval-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.publish-dot {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfcfc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.publish-dot:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  background-color: #c4c4c4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

:before {
  background-color: #65bda0;
}

.publish-dot.round {
  border-radius: 34px;
}

.publish-dot.round:before {
  border-radius: 50%;
}

input:checked + .publish-dot:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background-color: #65bda0;
}
