/*--Global Form--*/
form label {
  @apply font-bold mb-2;
}

/*--Input--*/
.input {
  @apply border border-blue-200 p-2 rounded;
}

.input-error {
  @apply text-error-full text-xs mt-2;
}

.input-select {
  @apply appearance-none w-full pl-4 cursor-pointer;
}

.select-wrap {
  position: relative;
}

.select-wrap::after {
  content: '▾';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 1rem;
  z-index: 1;
  color: #65bda0;
  line-height: 1;
  font-size: 20px;
  pointer-events: none; /* Don't interfere with clicks */
}

/* Toggle */
.toggle-checkbox:checked {
  @apply right-0 bg-green-400;
}
