@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*--Buttons--*/

.btn {
  @apply px-4 py-1 font-semibold shadow transition-transform duration-200 transform uppercase;
}

.btn-teal {
  @apply bg-teal-300 text-blue-900;
}

.btn-blue {
  @apply bg-blue-900 text-white font-medium;
}

.btn:hover {
  @apply shadow-md scale-110 duration-100;
}

.btn-disabled {
  @apply opacity-50;
}

.btn-disabled:hover {
  @apply shadow scale-100 cursor-default;
}

/*--Input--*/

.input {
  @apply border border-blue-400 p-2 outline-none;
}

.input:focus {
  @apply shadow-outline;
}

.input-error {
  @apply text-error text-xs;
}

.input-select {
  @apply appearance-none w-full cursor-pointer;
}

.select-wrap {
  position: relative;
}

.select-wrap::after {
  content: '▾';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  right: 1rem;
  z-index: 1;
  color: #65bda0;
  line-height: 1;
  font-size: 20px;
  pointer-events: none; /* Don't interfere with clicks */
}

.quick-filter .submenu {
  transform: scale(0);
  opacity: 0;
  transition: 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  visibility: hidden;
}

.quick-filter:hover .submenu,
.quick-filter:focus-within .submenu {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/*-------Quill editor styles-----------------*/
.ql-container {
  min-height: 250px !important;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid #868692 !important;
}

.ql-container.ql-snow {
  border-top: 0px !important;
}
